@import './font.scss';

body {
  font-family: "Poppins", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F5F8FA;
}

a {
  color: $primary;
}

h6 {
  font-size: .9rem;
  font-weight: bold;
  margin: 5px 0 2px 0;
  line-height: 1rem;
}

.warning-light {
  color: $warning-light;
}

.color-texto {
  color: $texto;
}

.color-white {
  color: white;
}

.q-footer-main {
  background-color: transparent;
  border: none;

  .footer {
    font-size: 0.7rem;
    text-align: right;
    line-height: 26px;
    color: $secondary;
    padding: 0 15px;
  }
}

body.body--dark {
  .q-dark {
    color: #92929f;
  }
  .q-page {
    background-color: $dark-page;
  }
  .q-footer-main {
    .footer {
      color: $grey-1;
    }
  }
  .bg-info {
    background-color: #2f264f !important;
    color: #8950fc;
  }
  .bg-primary {
    color: #3699ff;
    background-color: #212e48 !important;

    &.q-btn {
      background-color: var(--q-primary) !important;
    }
  }
}

.container {
  width: 100%;
  // max-width: 980px;
  margin: 0 auto;
  padding: 15px 50px;
}

.btn-container {
  padding: 7px 10px;
  text-align: right;
}

.btn-block {
  background-color: white;
  font-weight: bold;
  border: 1px solid transparent;
  font-size: 1rem;

  .q-btn__content {
    display: flex;
    flex-direction: column;
    position: relative;

    .q-icon {
      margin: 0;
      color: $texto;
      font-size: 2.2rem;
    }

    .btn-block-detail {
      font-size: 0.8rem;
      color: $warning;
      line-height: 1rem;
      margin: -5px 0 5px 0;
      font-weight: 500;
    }
  }

  &:hover {
    border-color: $warning-light;
    background-color: white;
  }

  &.active {
    background-color: $warning-light;
    
    .btn-block-detail {
      color: white;
      // font-weight: 600;
    }
    .q-btn__content {
      color: white;
      .q-icon {
        color: white;
      }
    }
  }
  
  // &.closed {
  //   background-color: transparent;
  // }

  &.pending {
    background-color: $border;
  }
}

.treasury-title {
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  color: $secondary;
  margin: 0 0 15px 0;
  line-height: 1.6rem;

  .subtitle {
    position: absolute;
    font-size: 1rem;
    background-color: $warning;
    color: white;
    right: 0;
    padding: 3px 8px;
  }
}
.treasury-subtitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 12px 0 10px 0;
  line-height: 1.4rem;
}
.flow-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  line-height: 1.4rem;
  color: $primary;
}
.report-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 24px 0;
  line-height: 1.4rem;
  color: $primary;

  strong {
    margin-top: 4px;
    display: block;
    font-size: 1.2rem;
  }

  span {
    display: block;
    font-size: 0.9rem;
    line-height: 1.1rem;
  }
}

.treasury-observation,
.treasury-departament {
  font-size: 0.7rem;
  line-height: 1rem;
  display: block;
  margin-top: -2px;
}

.treasury-observation-report {
  font-size: 0.7rem;
  line-height: 1rem;
}

.treasury-check {
  position: absolute;
  right: -15px;
  bottom: -15px;
}

.treasury-row {
  margin: 0 -8px;
}

.treasury-list-concepts {
  margin: 0;
  padding: 0;
  list-style: none;

  em, span {
    color: $texto;
  }
}

.treasury-observation {
  color: $texto;
}

.treasury-empty {
  color: $texto;
  font-size: 0.8rem;
  // text-align: center;
}

.table-responsive {
  overflow-y: auto;
}

.flow-row-link {
  font-size: .7rem;
}

.q-table-simple {
  margin-bottom: 15px;

  .q-table tfoot th {
    border-top: 1px solid $border;
  }
}

.no-wrap {
  white-space: normal !important;
}

.suffix-icon {
  font-size: .9rem;
  align-items: end;
  padding-top: 23px !important;
}

.width-80 {
  width: 80px;
  white-space: nowrap;
}

.width-120 {
  width: 120px;
  white-space: nowrap;
}

.flow-items {
  .row {
    display: flex;
    align-items: center;
  }
}

.treasury-department-item {
  position: relative;
  
  .treasury-department-total {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: $primary;
  }
}

.flow-row-table {
  .text-hidden {
    display: none;
  }
}

.modal-lg {
  width: 100%;
  max-width: 960px !important;
}

.modal-sm {
  width: 100%;
  max-width: 420px !important;
}

.alert {
  border-radius: 4px;
  padding: 10px 15px;
  margin-bottom: 15px;
  
  &.alert-info {
    border: 1px solid lighten($primary, 47%);
    background-color: lighten($primary, 55%);
    color: $primary;
  }
  
  &.alert-warning {
    border: 1px solid lighten($warning-light, 35%);
    background-color: lighten($warning-light, 46%);
    color: $warning-light;
  }
}

.datatable-menu-item {
  min-width: 40px;
}

.q-header.q-header-main {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.row {
  & > .card-button {
    max-width: 250px;

    .block {
      line-height: 1.4rem;
    }
  }
}

@media (min-width: 600px) {
  .tithe-column {
    padding: 0px 0 0 20px;
  }  
}

@media (max-width: $breakpoint-xs-max) {
  .q-table--dense .q-table th:last-child, .q-table--dense .q-table td:last-child {
    padding-right: 8px;
  }
  .container {
    padding: 15px;
  }
  .treasury-title {
    font-size: 1.15rem;
    line-height: 0.6rem;
  }
  .treasury-table-data {
    display: block;

    thead {
      display: none;
    }

    tbody, tfoot, tr, td, th {
      display: block;
      height: auto !important;
    }

    // td:hover {
    //   background-color: transparent !important;
    // }

    td, th {
      border: none !important;

      &:first-child {
        padding-bottom: 0 !important;
      }
      &:nth-child(2) {
        padding-top: 0px !important;
      }

      .treasury-list-concepts {
        padding: 4px 0 0 8px; 
      }

      .text-texto {
        padding-left: 8px;
        color: $texto;
        display: block;
      }

      &:last-child {
        border-bottom: 1px solid $border !important;        
      }   
      
      &.total {
        padding: 0;

        span {
          display: block;
          margin-top: -20px;
        }
      }

      .flow-row-table {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;

        .text-hidden {
          display: inline-block;
          padding: 2px 0;
        }
      }

      .flow-head-table {
        font-weight: bold;
        padding: 2px 0;
        display: inline-block;
      }
    }

    // tfoot th {
    //   display: inline-block;

    //   &:last-child {
    //     float: right;
    //   }
    // }
  }
  .btn-close-month {
    width: 100%;
  }
  .treasury-title {
    .subtitle {
      position: inherit;
      // display: inline-block;
      margin: 0 8px;
    }
  }

  .row {
    & > .card-button {
      max-width: 100%;
    }
  }
}